<!DOCTYPE html>
<html>
    <head>
        <title>
            404 NOT FOUND</title>
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="icon" 
      type="image/png" 
      href="../static/imgs/devchallenges.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h3>404 NOT FOUND</h3>
        </header>
        <section>
            <div class="cont1">
                <img src="../static/imgs/Scarecrow.png"/>
            </div>
            <div class="cont2">
                <p class="p1">
                    I have bad <br id="kid">news
                    for you
                </p>
                <p class="p2">
                    The page you are looking <br id="br1">
                    for might be removed or is <br>
                    temporarily unavailable
                </p>
                <a href="#">BACK TO HOMEPAGE</a>
            </div>
        </section>
        <footer>
            created by imdadAdelabou - devChallenges.io
        </footer>
    </body>
</html>